<!-- <p>{{ appointment.id }}</p>
<p>{{ appointment.title }}</p>
<p>{{ appointment.date }}</p> -->

<section>
    <input [(ngModel)]="newAppointmentTitle" placeholder="Description">
    <input [(ngModel)]="newAppointmentDate" placeholder="Date">

    <button (click)="addAppointment()" >Add</button>
</section>

<ul>
    <li *ngFor="let appointment of appointments; index as i">
        {{appointment.title}} {{appointment.date | date: 'dd.MM.yyyy'}}
        <button (click)="deleteAppointment(i)">Delete</button>
    </li>
</ul>