<!-- <p>{{ appointment.id }}</p>
<p>{{ appointment.title }}</p>
<p>{{ appointment.date }}</p> -->

<section class="container">
    <article class="card mt-3">
        <section class="row">
            <article class="col">
                <h2 class="text-center">Create new appointment</h2>
            </article>

            <article class="row mt-3">
                <article class="col-md-6">
                    <input class="form-control" [(ngModel)]="newAppointmentTitle" placeholder="Description">
                </article>
                <article class="col-md-4">
                    <input class="form-control" [(ngModel)]="newAppointmentDate" placeholder="Date">
                </article>
                <article class="col-md-2">
                    <button class="btn btn-primary w-100" (click)="addAppointment()" >Add</button>
                </article>
            </article>
        </section>
    </article>

    <h2 class="text-center mt-5">Appointments</h2>

    <ul class="list-group mt-3">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let appointment of appointments; index as i">
            {{appointment.title}} {{appointment.date | date: 'dd.MM.yyyy'}}
            <button class="btn btn-danger" (click)="deleteAppointment(i)">Delete</button>
        </li>
    </ul>
</section>